.contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 65px;
    background-color: #fff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100%;
    margin: 0 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: relative;
}

.icons
{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2vw;
}

.icon
{
    width: 25px;
    height: 100%;
    cursor: pointer;
}

.contenedorImg
{
    display: block;
    width: 40px;
}

.centerText {
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    color: #666;
    font-weight: 500;
}

.rightSection {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.navLinks {
    display: flex;
    gap: 2vw;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navLinks li a {
    text-decoration: none;
    color: #666;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

.navLinks li a:hover {
    color: #000;
}

.logo img {
    height: 30px;
}
