.all
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2C2C2C;
}

.contenedor
{
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:white;
    min-height: 720px;
}

.formularioRecuperar
{
    background-color: #131313;
    padding: 3rem;
    border-radius: 15px;
    width: 100%;
    max-width: 10vw;
    min-width: 35rem;
    height: auto;
}

.formularioRecuperar img
{
    display: block;
    margin: auto;
    height: auto;
    margin-bottom: 1.8rem;
}

.inputs
{
    background-color: #1f1f1f;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    max-width: 60vw;
    min-height: 5vh;
    height: 100%;
    max-height: 70vw;
    border: none;
}

.inputsTextos
{
    color: #b1b1b1;
    margin-left: 0.4rem;
    padding: 0.2rem;
    font-weight: bold;
    font-size: 14px;
}

.inputRecuperar input {
    margin-bottom: 2.5rem;
    max-width: 100%;
    width: 100rem;
    height: 3rem;
    border-radius: 10px;
}

.botonRecuperar
{
    background-color: #e82a31;
    padding: 1rem;
    flex-direction: row;
    border-radius: 10px;
    max-width: 50%;
    width: 100rem;
    height: 3rem;
    height: 100%;
    display: block;
    margin: auto;
    border: none;
    color: white;
    font-weight: bold;
}

.img
{
    height: 6rem;
    width: auto;
}