.layoutContainer {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  
  .backgroundImage {
    width: 100%;
    height: auto;
    border-radius: 15px;
  }
  
  .interactiveSection {
    position: absolute;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: transparent; /* Sin fondo */
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5); /* Sombra visible */
  }
  
  .interactiveSection:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Fondo translúcido al pasar el mouse */
    box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, 0.8); /* Sombra más intensa */
  }
  
  .tooltip {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .interactiveSection:hover .tooltip {
    opacity: 1;
  }

  .sectorContainer {
    text-align: center;
    margin-top: 50px;
  }
  
  .rotatedsection1:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Fondo translúcido al pasar el mouse */
    box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, 0.8); /* Sombra más intensa */
  }
  /* Sección rotada */
  .rotatedsection1 {
    transform: rotate(-26.3deg); /* Rota la sección */
    background-color: transparent; /* Sin fondo */
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5); /* Sombra visible */
    position: absolute;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 10; /* Asegura que se quede sobre otros elementos */
  }