.all
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2C2C2C;
}

.contenedor
{
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color:white;
    min-height: 720px;
}

.icon
{
    display: absolute;
    max-width: 30px;
    margin: 1vh;
}