.datosGen {
    width: 100%;
    background-color: #131313;
    border-radius: 15px;
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    color: #D9D9D9;
}

.titulo {
    font-size: 21px;
}

.contenedorDatos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    color: #D9D9D9;
    justify-content: space-between;
    margin-top: 10px;
}

.datoList {
    width: 100%;
    padding: 10px 20px;
    background-color: #1F1F1F;
    border-radius: 15px;
}

.detallesDatos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon {
    max-width: 50px;
    max-height: 50px;
    margin-left: auto;
}

.texto h3 {
    font-size: 16px;
}

.texto h4 {
    font-size: 15px;
}
