.all
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2C2C2C;
}

.contenedor
{
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 227px;
    color:white;
}

.contenedor li
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contenedor a, .contenedor p
{
    text-decoration: none;
    color: white;
    padding-left: 2vh;
    padding-right: 2vh;
}

.footerIzq, .footerImg, .footerDer {
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.footerIzq
{
    align-items: flex-start;
}

.footerImg
{
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerImg img
{
    max-width: 100%;
    height: auto;
}

.footerDer {
    align-items: flex-end;
}

hr
{
    width: 100%;
    color:#414141;
}

.footerAbajo
{
    color: #7a7a7a;
    font-size: 2vh;
    padding: 1vh;
    display: flex;
    justify-content: center;
}

.icon
{
    display: absolute;
    max-width: 30px;
    margin: 1vh;
}